<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="./assets/js/jquery/jquery-3.6.0.slim.min.js" defer></script>
    <script type="module" src="./assets/js/modules.js" defer></script>
    <script type="module" src="./assets/js/home.js" defer></script>
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>CloudNotes</title>
</head>

<body>
    <header class="header">
        <div class="container-header">
            <div class="header__inner">
                <a href="#" class="header__logo">cloudnotes</a>
                <input type="button" value="log out" id="header__log-out" class="header__log-out">
            </div>
        </div>
    </header>

    <div class="content">

        <!-- menu -->
        <section class="menu">
            <div class="menu__group">
                <input type="button" value="All" id="All" class="group group-all">
                <input type="button" value="Personal" id="Personal" class="group group-another">
                <input type="button" value="Job" id="Job" class="group group-another">
                <!-- <input class="group__add" type="button" value=""> -->
            </div>
        </section>

        <!-- notes -->
        <section class="notes">
            <div class="notes-container">

                <!-- notes options -->
                <div class="notes__options">
                    <!-- notes options -->
                    <input class="notes__search-field" placeholder="Find" type="text">
                    <input class="notes__search" type="image" src="./assets/imgs/sections/magnify.svg" alt="search">
                    <input class="notes__add-note" type="image" src="./assets/imgs/sections/plus.svg" alt="plus" value="">
                </div>

                <!-- notes cards -->
                <div class="notes__inner">
                    <div class="notes__cards"></div>
                </div>
        </section>
        </div>

</body>

</html>