<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>CloudNotes</title>
</head>

<body>
    <header class="header">
        <div class="container-header">
            <div class="header__inner">
                <a href="#" class="header__logo">cloudnotes</a>
                <input type="submit" value="log out" class="header__log-out">
            </div>
        </div>
    </header>

    <div class="content">

        <!-- menu -->
        <section class="menu">
            <div class="menu__group">
                <a href="#" class="group">Personal</a>
                <a href="#" class="group">Job</a>
                <input class="group__add" type="button" value="">
            </div>
        </section>

        <!-- notes -->
        <section class="notes">

            <!-- notes search -->
            <div class="notes__search">
                <input type="text">
            </div>

            <!-- notes cards -->
            <div class="notes__inner">
                <div class="note">
                    <div class="note__top">
                        <input class="note__title" value="Title" placeholder="title" type="text" name="" id="">
                        <button class="note__close"><img alt="cross" src="./assets/imgs/sections/note__close.png" class="note__close-img"></button>
                    </div>
                    <textarea placeholder="Content" class="note__content" name="" id="" cols="30" rows="10"></textarea>
                </div>
        </section>
        </div>

</body>

</html>