<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/sections/login.css">
    <link rel="stylesheet" href="./assets/css/buttons.css">
    <link rel="stylesheet" href="./assets/css/vars.css">
    <title>CloudNotes | Login</title>
</head>

<body>
    <section class="login">
        <div class="login__inner">
            <div class="login__left">
                <div class="login__logo">
                    CloudNotes
                </div>
            </div>
            <hr class="login__hr">
            <div class="login__right">
                <input class="login__login-input auth-input" placeholder="Login" type="text" name="" id="">
                <input class="login__password-input auth-input" placeholder="Password" type="text">
                <input class="login__submit auth-btn" value="Sign in" type="submit">
            </div>
        </div>
    </section>
</body>

</html>