<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./assets/js/jquery/jquery-3.6.0.slim.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script type="module" src="./assets/js/login.js" defer></script>
    <script type="module" src="./assets/js/modules.js" defer></script>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/sections/login.css">
    <link rel="stylesheet" href="./assets/css/buttons.css">
    <link rel="stylesheet" href="./assets/css/vars.css">
    <link rel="stylesheet" href="./assets/css/general.css">
    <title>CloudNotes | Login</title>
</head>

<body>
    <section class="login">
        <div class="login__inner">
            <div class="login__left">
                <div class="login__logo">
                    CloudNotes
                </div>
            </div>
            <hr class="login__hr">
            <form method="POST" class="login__right">
                <input class="login__login-input auth-input" placeholder="Login" type="text">
                <div class="login__error login-error"></div>
                <input class="login__password-input auth-input" placeholder="Password" type="password">
                <div class="login__error password-error"></div>
                <input id="login-btn" class="login__submit auth-btn" value="Sign in" type="submit">
                <input class="login__register auth-btn auth-btn_sign-up" value="Sign up" type="button">
            </form>
        </div>
    </section>
</body>

</html>