.menu {
    padding-left: 12px;
    width: 20%;
    height: 900px;
    display: flex;
    flex-direction: column;
}

.menu__group {
    display: flex;
    flex-direction: column;
}

.group {
    cursor: pointer;
    text-align: start;
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    color: grey;
    transition: ease 0.3s;
}

.group:hover {
    color: var(--input-primary);
}