.menu {
    padding-left: 12px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.menu__group {
    display: flex;
    flex-direction: column;
}

@media (max-width:570px) {
    .menu {
        padding-left: 0;
        width: 100%;
    }
    .menu__group {
        text-align: center;
        align-items: center;
    }
}

.group {
    cursor: pointer;
    text-align: start;
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    color: grey;
    transition: ease 0.3s;
}

.group:hover {
    color: var(--input-primary);
}