:root {
    --input-non-selected: rgb(88, 98, 106);
    --input-primary: rgb(110, 218, 161);
    --color-bg: rgb(42, 54, 63);
}

@font-face {
    font-family: San-Francisco;
    src: url(../fonts/SFUIDisplay-Regular.ttf) format('TrueType');
}